# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

CATALOG
/Volumes/Space/asian-wires-cables/CATALOG
/Volumes/Space/asian-wires-cables/CATALOG/MICROPHONE CABLES & LEADS (24 products)
/Volumes/Space/asian-wires-cables/CATALOG/CATALOG/SPEAKER WIRES & LEADS (13 products)
/Volumes/Space/asian-wires-cables/CATALOG/MICROPHONE CABLES-ASIAN WIRES & CABLE CATALOG.csv
/Volumes/Space/asian-wires-cables/CATALOG/SPEAKER WIRE-ASIAN WIRES & CABLE CATALOG.csv
/Volumes/Space/asian-wires-cables/Assests
/Volumes/Space/asian-wires-cables/CATALOG/MICROPHONE CABLES & LEADS (24 products)
/Volumes/Space/asian-wires-cables/Assests/Brand_Logo
/Volumes/Space/asian-wires-cables/Assests/LEAD_PRODUCTS
/Volumes/Space/asian-wires-cables/Assests/SPEAKER_WIRE_PRODUCTS
